.carousel {
  display: flex;
  overflow: hidden;

  .slide {
    position: absolute;
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.active {
      position: relative;
      opacity: 1;
      transition: position 0.1s ease;
    }

    .slide-image {
      width: calc(95%);
    }

    .buttons-container {
      position: fixed;
      top: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
}
