.error-page {
  display: flex;
  flex: 1;

  .content-section {
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    align-items: center;
    justify-content: center;
    z-index: 10;

    .ufo-icon {
      animation: MoveUpDown 5s ease-in-out infinite;
      position: fixed;
      top: 30px;
    }

    .text-container {
      padding: 20px;
      border-radius: 8px;
      background-color: var(--darker-tone);
      margin-bottom: 20px;
      row-gap: 20px;
      display: flex;
      flex-direction: column;
      .header {
        color: var(--ceruleo-light);
        font-size: 30px;
        font-weight: 600;
      }

      .sub-header {
        color: var(--lighter-tone);
        font-size: 26px;
        font-weight: 400;

        &.point {
          font-size: 20px;
        }
      }
    }
  }
  /* @media (width >= 1300px) {} */
  /* @media (width < 1300px) {} */
  /* @media (width < 992px) {} */
  /* @media (width < 762px) {} */
  /* @media (width < 600px) {} */
}
