.download-cv-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 130;
  width: 100%;
  height: 100%;
  background-color: #16a0b8;
  display: flex;
  justify-content: center;
  align-items: center;

  .row {
    height: 100%;

    .flag-us {
      animation: sizes 1.1s ease-in-out infinite;
    }
    .flag-ve {
      animation: sizes 0.8s ease-in-out infinite;
    }

    .title {
      color: var(--lighter-tone);
      font-size: 20px;
    }
  }
  @media (width < 600px) {
    .row {
      flex-direction: column;
    }
  }
}
