.bg-image-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: 0;
}

.bg-image-color-overlay::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.35);
  }