.grid-card {
  transition: all 0.4s ease-in-out;
  /* blur related */
  -webkit-filter: blur(var(--blur-minimum));
  -moz-filter: blur(var(--blur-minimum));
  -o-filter: blur(var(--blur-minimum));
  -ms-filter: blur(var(--blur-minimum));
  filter: blur(var(--blur-minimum));
  /* end blur */
  border-radius: 8px;

  .grid-overlay {
    display: block;
    position: fixed;
    width: -webkit-fill-available;
    width: 100%;
    height: -webkit-fill-available;
    height: 100%;
    background: linear-gradient(var(--lighter-tone), #fffefe49);
    border-radius: inherit;
    &.no-overlay-gradient {
      background: none !important;
    }
  }
  &:hover {
    cursor: pointer;
    /* blur related */
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    /* end blur */
    transform: scale(1.01);
    .header-title-small {
      background-color: rgba(255, 255, 255, 0.85);
      padding-left: 4px;
      padding-right: 4px;
      border-radius: 6px;
      box-shadow: var(--box-shadow-min-lower);
    }
    & > .top-overlay {
      background-color: rgba(0, 0, 0, 0) !important;
    }
  }

  .content-container {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    height: 100%;
    .logo-title-container {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      svg {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

.opened-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.808);
  z-index: 100;
  justify-content: center;
  align-items: center;

  .close-icon {
    right: 20px;
    top: 20px;
  }

  .card-overlay-content {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 85%;
    background-color: var(--grayish-bg);
    border-radius: 12px;
    padding: 12px;
    justify-content: space-between;

    .content-details {
      display: flex;
      flex-direction: column;
      width: 58%;
      height: 100%;
      background-color: var(--gray-medium);
      border-radius: 12px;
      box-shadow: var(--box-shadow-min-lower);

      .content-text {
        display: flex;
        flex-direction: column;
        padding: 12px;
        height: 33.33%;
        align-items: flex-start;
        justify-content: space-evenly;
        &.orange {
          background-color: var(--vibrant-orange);
        }
        &.ceruleo-medium {
          background-color: var(--ceruleo-medium);
        }
        &.last {
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
        }

        .content-subheader {
          font-size: 20px;
        }

        .position-duration-container {
          display: flex;
          flex-direction: row;
          justify-content: start;
          column-gap: 30px;
          align-items: center;

          .icon-text {
            display: flex;
            flex-direction: row;
            column-gap: 4px;
            align-items: center;

            .label {
              font-size: 18px;
            }
          }
        }
      }
    }

    .content-images {
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 100%;
      background-color: (var(--gray-medium));
      justify-content: space-evenly;
      overflow: auto;
      box-shadow: var(--box-shadow-extra-min);
      border-radius: 12px;
      row-gap: 8px;

      .content-image {
        padding: 8px;
        border-radius: 12px;
        max-height: 45%;
        max-width: 600px;
        cursor: zoom-in;
      }
    }
  }
}
@media (width >= 1300px) {
  .content-text {
    overflow: scroll;
    .div-row-spaced > h2 {
      font-size: 2vw !important;
    }
    .close-icon {
      svg {
        width: 40px !important;
        height: 40px !important;
      }
    }
    .icon-svg {
      width: 48px !important;
      height: 48px !important;
      svg {
        width: 48px !important;
        height: 48px !important;
      }
    }
  }
  .content-text > h3 {
    font-size: 1.8vw !important;
  }
  .content-text.position-duration-container,
  .icon-text > p {
    font-size: 1.7vw !important;
  }
  .content-text > p {
    font-size: 1.6vw !important;
  }
  .content-text.last > div {
    p {
      font-size: 1.6vw !important;
    }
  }
  .content-text.last {
    .svg-check {
      margin-right: 8px;
      width: 48px !important;
      height: 48px !important;
      svg {
        width: 48px !important;
        height: 48px !important;
      }
    }
  }
}
@media (width < 992px) {
  ::-webkit-scrollbar {
    height: 5px !important;
  }
  .content-text {
    overflow-y: scroll !important;
    .icon-svg {
      width: 40px !important;
      height: 40px !important;
      svg {
        width: 40px !important;
        height: 40px !important;
      }
    }
  }
  .card-overlay-content {
    overflow-y: scroll !important;
    flex-direction: column !important;
    align-items: center !important;

    .content-details {
      width: 100% !important;

      .content-text.last {
        .svg-check {
          margin-right: 8px;
          width: 35px !important;
          height: 35px !important;
          svg {
            width: 35px !important;
            height: 35px !important;
          }
        }
        .ul-list-row {
          svg {
            width: 60px !important;
            height: 60px !important;
          }
        }
      }
    }
    .content-images {
      flex-direction: row !important;
      min-height: 260px !important;
      width: 90% !important;
      .content-image {
        height: 100%;
        height: -webkit-fill-available !important;
        max-height: unset !important;
        max-width: unset !important;
      }
    }
  }
}
@media (width < 762px) {
  .card-overlay-content {
    overflow-y: scroll !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 95% !important;
    height: 95% !important;
    padding: 0px !important;

    .content-details {
      width: 100% !important;
      height: 80% !important;
      box-shadow: none !important;
      .content-text.last {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        .svg-check {
          margin-right: 8px;
          width: 30px !important;
          height: 30px !important;
          svg {
            width: 30px !important;
            height: 30px !important;
          }
        }
      }
    }
    .content-images {
      flex-direction: row !important;
      min-height: unset !important;
      height: 20% !important;
      width: 100% !important;
      .content-image {
        height: 100%;
        height: -webkit-fill-available !important;
        max-height: unset !important;
        max-width: unset !important;
      }
    }
  }
}
