/* Global vars */
:root {
  /* typography */
  --primary-header: "Montserrat", serif;
  --secondary-header: "Lora", sans-serif;
  --content-small: "Hind Madurai", sans-serif;

  /* colors */
  --darker-tone: #232629;
  --lighter-tone: #fffefe;
  --ceruleo-light: #1fdcff;
  --vibrant-orange: #e46c3f;

  /* borders */
  --border-ligther: 1px solid var(--lighter-tone);
  --border-darker: 1px solid var(--darker-tone);
}

.logo-svg {
  width: 150px;
  height: auto;
}
