.get-in-touch-page {
  display: flex;
  flex: 1;
  .saturno-overlay {
    background-repeat: no-repeat;
    background-position: bottom -140px left -80px;
    background-size: contain;
    animation: grayColorToUnset 7s;
    z-index: 10;
  }
  .contact-section {
    margin-top: 60px;
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
    justify-content: center;
    padding-left: 8px;
    align-items: center;

    .contact-divider {
      display: flex;
      flex-direction: row;
      justify-content: end;
      column-gap: 30px;
      width: 90%;
      height: 70%;
      border-radius: 12px;

      .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 35%;
        height: 100%;
        border-radius: 12px;
        background-color: var(--glassy-gray-bg);

        .title-1 {
          font-size: 20px;
          font-weight: 800;
        }

        .title-2 {
          font-size: 18px;
          font-weight: 300;
        }

        .disclaimer {
          padding-top: 20px;
          padding-left: 10px;
          padding-right: 10px;
          color: var(--darker-tone);
        }

        .sub-content {
          display: flex;
          flex-direction: column;
          width: 60%;
          height: auto;
          align-self: flex-end;
          z-index: 30;
        }
      }
      .contact-form {
        display: flex;
        flex-direction: column;
        width: 55%;
        height: 100%;
        background-color: var(--glassy-gray-bg);
        border-radius: 12px;
        align-items: center;
        justify-content: center;

        .send-loader {
          height: 90%;
        }

        .visit-faq {
          font-size: 14px;
          font-weight: 600;
          margin-left: 24px;
          margin-right: 24px;
          margin-top: 16px;
          opacity: 0.4;
          transition: all 0.4s;
          z-index: 35;
          &:hover {
            opacity: 1;
            cursor: pointer;
            text-decoration: underline;
          }
        }

        form {
          display: flex;
          flex-direction: column;
          width: 90%;
          z-index: 30;
          label {
            color: var(--darker-tone);
            font-size: 16px;
          }

          input,
          textarea {
            border-radius: 8px;
            border: unset;
            background-color: var(--light-gray);
          }
          input {
            height: 30px;
            font-family: var(--content-small);
            font-size: 16px;
            padding: 4px;
            &:focus {
              outline: none;
              border: 2px solid var(--ceruleo-medium);
              background-color: var(--gray-medium);
            }
          }
          textarea {
            min-height: 100px;
            font-family: var(--content-small);
            font-size: 16px;
            padding: 4px;
            &:focus {
              outline: none;
              border: 2px solid var(--ceruleo-medium);
              background-color: var(--gray-medium);
            }
          }
          .btn-submit {
            margin-top: 8px;
            align-self: center;
          }
        }
      }
    }
  }
  @media (width >= 1300px) {
    .contact-section {
      .contact-divider {
        .contact-info {
          .title-1 {
            font-size: 2vw;
          }
          .title-2 {
            font-size: 1.5vw;
          }
          .disclaimer {
            font-size: 1.4vw;
          }
        }
      }
    }
  }
  @media (width < 1060px) {
    .saturno-overlay {
      z-index: 0;
      background-position: bottom -130px left -130px;
    }

    .contact-section {
      overflow-y: scroll;

      .contact-divider {
        position: relative;
        top: 5px;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: end;
        row-gap: 10px;
        margin-bottom: 10px;

        .contact-info {
          width: 100%;
          height: 40%;
          background-color: unset;
          .sub-content {
            width: 100%;
            justify-content: center;
          }
        }
        .contact-form {
          width: 60%;
        }
      }
    }
  }
  /* @media (width < 992px) {} */
  @media (width < 762px) {
    .contact-section {
      .contact-divider {
        .contact-form {
          width: 70%;
        }
        .contact-info {
          .sub-content {
            svg {
              width: 30px !important;
              height: 30px !important;
            }
          }
        }
      }
    }
  }
}
